services:
  app:
    container_name: next-app
    image: ghcr.io/ho-sittichai/my-profile:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - NODE_ENV=production

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.44
    command: --interval 30
    restart: always
